@keyframes slideInFromLeft {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite ;

} 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.loginWrapper {
    margin-top: 20%;
    /* animation: slideInFromLeft 1s ease-out 0s; */
}


.greeting p {
    font-weight: bold;
    color: white;
}

.button button {
  color: white;
  background-color: blue;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  border:none;
  width: 200px;
  height: 50px;
}

.button button:hover {
    background-color: cornflowerblue;
}

.button button:active {
    background-color:cyan;
}

.loadingBg {
	margin: 0 auto;
  }
  
  .loadingBg p {
	padding-top: 10px;
	padding-left: 10px;
	font-weight: bold;
  }